<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900515460602-273dl996od2n74dlh724d8vp0pi7e83g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900515460602-273dl996od2n74dlh724d8vp0pi7e83g</string>
	<key>API_KEY</key>
	<string>AIzaSyBcLHTRr7PL4T1idh0h8Ycp0nuwc_XQfPo</string>
	<key>GCM_SENDER_ID</key>
	<string>900515460602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walker.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-1095a</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-1095a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900515460602:ios:aab21c3c9af23cf05ae043</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-1095a.firebaseio.com</string>
</dict>
</plist>